[Unit]
Description=A simple, cross-platform music scrobbler daemon
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/env goscrobble run

[Install]
WantedBy=default.target
