[Unit]
Description=A simple, cross-platform music scrobbler daemon
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=$GOSCROBBLE_PATH run

[Install]
WantedBy=default.target
